#betterlivesu{
    margin: 80px 9% 0px 9%;
    width: 1272px;
    height: 456px;
    padding-top: 15px;
}
.betterlivetitlesu{
    font-family:'Noto Sans Devanagari';
font-style: normal;
font-weight: 600;
font-size: 26px;
line-height: 34px;
color: #111111;
}
#betterliveimgssu{
    display: grid;
    grid-template-columns: 49.37% 49.056%;
    grid-gap: 1.729%;
    margin-top: 55px;
}
.betterlivesubsu{
font-family:'Noto Sans Devanagari';
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 22px;
color: #484848;
}
#learnbtnsu{
    margin-top: 40px;
}
