.searchMainsu1{
    /* margin: 0px 9% 0% 9%;
    border: 1px solid black !important; */
}
.datadiv{
    margin-top: 140px;
    margin-right: 80px;
}

.rs{
    font-size: 12px;
    font-weight: bold;
}

.pri{
    font-size: 18px;
}

.names:hover{
    text-decoration: underline;
    cursor: pointer;
}

.desks{
    position: absolute;
width: 1300px;
height: 522px;
left: 100px;
margin-left: 30px;
overflow-y: hidden;
overflow-x: auto;
top: 2500px;
}


.desks::-webkit-scrollbar {
    background: #fff;
    margin-top:10px;
    width: 15px;
    height:4px;
    padding: 25px;
}
.desks::-webkit-scrollbar:focus {
background: #fff;
margin-top:10px;
width: 15px;
height:150px;
}

.desks::-webkit-scrollbar-thumb {
border-radius: 2px;
background-color: #868a8a;
outline: 2px solid rgb(100, 102, 104);
padding: 25px;
}
.desks::-webkit-scrollbar-thumb:hover {
border-radius: 2px;
background-color: #121414;
outline: 2px solid rgb(100, 102, 104);
padding: 25px;

}

.heart{
    margin-left: 220px;
}

.alldata{
    display: flex;
    margin-top: 100px;
    width: 1200px;
    overflow-y: hidden;
overflow-x: auto;
}

.alldata::-webkit-scrollbar {
    background: #fff;
    margin-top:10px;
    width: 15px;
    height:4px;
    padding: 25px;
}
.alldata::-webkit-scrollbar:focus {
background: #fff;
margin-top:10px;
width: 15px;
height:150px;
}

.alldata::-webkit-scrollbar-thumb {
border-radius: 2px;
background-color: #868a8a;
outline: 2px solid rgb(100, 102, 104);
padding: 25px;
}
.alldata::-webkit-scrollbar-thumb:hover {
border-radius: 2px;
background-color: #121414;
outline: 2px solid rgb(100, 102, 104);
padding: 25px;

}

.links{
    color: black;
    text-decoration: none;
}

.use{
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    width: 1300px;
    margin-top: 60px;
    margin-left: 30px;
}

.use::-webkit-scrollbar {
    background: #fff;
    margin-top:10px;
    width: 15px;
    height:4px;
    padding: 25px;
}
.use::-webkit-scrollbar:focus {
background: #fff;
margin-top:10px;
width: 15px;
height:150px;
}

.use::-webkit-scrollbar-thumb {
border-radius: 2px;
background-color: #868a8a;
outline: 2px solid rgb(100, 102, 104);
padding: 25px;
}
.use::-webkit-scrollbar-thumb:hover {
border-radius: 2px;
background-color: #121414;
outline: 2px solid rgb(100, 102, 104);
padding: 25px;

}

.footer{
    margin-top: 1680px;
}