#delinfmsu{
    margin: 40px 9% 0px 9%;
    width: 1272px;
    height: fit-content;
    display: grid;
    grid-template-columns: 40.56% 40.56%;
    grid-gap: 18.86%;
}
#retretretsu{
    padding: 12px 32px;
font-family: 'Noto Sans Devanagari';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
color: #0078C1;
border: 1px solid #0078C1;
}
#proceederdelsu{
    padding: 12px 32px;
    font-family: 'Noto Sans Devanagari';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: white;
    background-color: #0058A3;
    margin-left: 32px;
}   
#deltitsu{
font-family:'Noto Sans Devanagari';
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 58px;
color: #333333;
}
#billdetsudel{
    font-family:'Noto Sans Devanagari';
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 58px;
    color: #333333;
    margin:32px 0px;
}
#enternamebillpansu{
    margin: 32px 0px;
}
.allinpudelsu{
    width: 324px;
    padding: 10px;
}
.allinpumarg24delsu{
    margin-top: 24px;
}
#del2ndsu{
    border: 1px solid #CFCFCF;
    min-height: 800px;
    min-width:520px;
}
#fexerdelsu{
    padding: 24px;
}
#orderdetdelsu{
    display: grid;
    grid-template-columns: 25% 40% 25%;
    grid-gap: 5%;
}
#lastdelprisu{
    margin-top: 300px;
    padding: 12px 24px;
    display: flex;
    flex-direction: row;
}
#totallerdelsusuus{
    margin-left: 150px;
}
#lastdelprisu1{
    padding: 12px 24px;
    display: flex;
    flex-direction: row;
}
#totalleftydelisu{
    margin-left:215px;
}